<ion-content class="bg-img">
  <div padding class="container-bottom" style="margin-top: 70%;">
    <form [formGroup]="authForm">
      <div class="errormsg">
        <div *ngIf="email.errors && email.touched">
          <p>Email is required.</p>
        </div>
        <div *ngIf="password.errors && password.touched">
          <p>Password is required.</p>
        </div>
      </div>
        <ion-item class="item-warraper">
          <ion-label>
            <ion-icon ios="ios-mail" md="md-mail"></ion-icon>
          </ion-label>
          <ion-input type="email" [formControl]="email" id="email" placeholder="Email" name="email"
                     [(ngModel)]="credentials.email"></ion-input>
        </ion-item>
        <ion-item class="item-warraper">
          <ion-label>
            <ion-icon ios="ios-unlock" md="md-unlock"></ion-icon>
          </ion-label>
          <ion-input type="{{passwordtype}}" [formControl]="password" id="password" placeholder="Password"
                     name="password" [(ngModel)]="credentials.password"></ion-input>
          <button ion-button class="eye-icon-btn" type="button" item-right (click)="managePassword()">
            <ion-icon name="{{passeye}}"></ion-icon>
          </button>
        </ion-item>
        <div class="button-container">
          <button ion-button round outline color="dark" style="float: right;"
                  [disabled]="!authForm.valid" (click)="doLogin()">Sign in
          </button>
        </div>
      <div text-center class="form-bottom-text">
        <label>Don't have an Account? Way?<a href="javascript:void(0);" (click)="doSignup()">Sign up</a></label>
      </div>
    </form>
  </div>
</ion-content>
