<ion-content class="bg-img">
  <div padding class="container-bottom">
    <div class="errormsg">
      <div *ngIf="username.errors && username.touched">
        <p>Username is required.</p>
      </div>
      <div *ngIf="email.errors && email.touched">
        <p>Email is required.</p>
      </div>
      <div *ngIf="password.errors && password.touched">
        <p>Password is required.</p>
      </div>
      <div *ngIf="cnfpass.errors && cnfpass.touched">
        <p>Confirm password is required.</p>
      </div>
    </div>
    <div style="margin-top: 70%;">
      <form [formGroup]="authForm">
        <ion-slides class="swiper-no-swiping">
          <ion-slide>
            <ion-item class="item-warraper">
              <ion-label>
                <ion-icon ios="ios-person" md="md-person" style="color: white;"></ion-icon>
              </ion-label>
              <ion-input id="username" type="text" [formControl]="username" placeholder="Username" name="username"
                         [(ngModel)]="newuser.username"></ion-input>
            </ion-item>
            <ion-item class="item-warraper">
              <ion-label>
                <ion-icon ios="ios-mail" md="md-mail"></ion-icon>
              </ion-label>
              <ion-input id="email" type="email" [formControl]="email" placeholder="Email" name="email"
                         [(ngModel)]="newuser.email"></ion-input>
            </ion-item>
          </ion-slide>
          <ion-slide>
            <ion-item class="item-warraper">
              <ion-label>
                <ion-icon ios="ios-unlock" md="md-unlock"></ion-icon>
              </ion-label>
              <ion-input id="password" [formControl]="password" type="{{passwordtype}}" placeholder="Password"
                         name="password" [(ngModel)]="newuser.password"></ion-input>
              ]
              <button icon-only ion-button color="dark" class="eye-icon-btn" type="button" item-right
                      (click)="managePassword()">
                <ion-icon name="{{passeye}}"></ion-icon>
              </button>
            </ion-item>
            <ion-item class="item-warraper">
              <ion-label>
                <ion-icon ios="ios-unlock" md="md-unlock"></ion-icon>
              </ion-label>
              <ion-input id="cnfpass" [formControl]="cnfpass" type="{{cnfpasswordtype}}" placeholder="Confirm Password"
                         name="cnfpass" [(ngModel)]="newuser.cnfpassword"></ion-input>
              <button icon-only ion-button color="dark" class="eye-icon-btn" type="button" item-right
                      (click)="managecnfPassword()">
                <ion-icon name="{{cnfpasseye}}"></ion-icon>
              </button>
            </ion-item>
          </ion-slide>
          <ion-slide>
            <ion-item class="item-warraper">
              <ion-label>Language</ion-label>
              <ion-select id="language" name="language" [formControl]="language" [(ngModel)]="newuser.language">
                <ion-option value="English">English</ion-option>
                <ion-option value="Hebrew">עברית</ion-option>
              </ion-select>
            </ion-item>
          </ion-slide>
        </ion-slides>
      </form>
      <button *ngIf="currentTab > 0" ion-button color="dark" icon-only (click)="goBackSlide()">
        <ion-icon ios="ios-arrow-dropleft" md="md-arrow-dropleft"></ion-icon>
      </button>
      <button *ngIf="currentTab < maxTabs" ion-button color="dark" style="float: right;" icon-only
              (click)="goToSlide()">
        <ion-icon ios="ios-arrow-dropright" md="md-arrow-dropright"></ion-icon>
      </button>
      <button *ngIf="currentTab === maxTabs" style="float: right;" ion-button round outline color="dark"
              (click)="doSignup()" [disabled]="!authForm.valid">Sign Up
      </button>
      <div text-center class="form-bottom-text">
        <label>Already have an Account?<a href="javascript:void(0);" (click)="doLogin()">Sign in</a></label>
      </div>
    </div>
  </div>
</ion-content>
