page-ragister {
  .bg-img {
    background-image: url(../assets/imgs/bg.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
  }
  .container-logo {
    display: inline-block;
    width: 100%;
    margin: 20px 0;
    img {
      max-width: 250px;
    }
  }
  .button-md.eye-icon-btn{
    background-color: transparent;
    color: $black;
    font-size: 20px;
    opacity: 1;
    @include box-shadow(none);
  }
  .errormsg {
    position: absolute;
    width: 90%;
  }
  .errormsg p {
    background-color: rgba(255,0,0,.3);
    color: $white;
    border: 1px solid #FF0000;
    padding: 5px;
  }
  .item-warraper {
    background-color: transparent;
    color: white;
  }
  ion-icon {
    color: white;
  }
  .button-outline-ios-dark {
    color: white;
    border-color: white;
  }
  .button-ios-dark {
    color: #fff;
    background-color: transparent;
  }
  .button-ios-dark:hover {
    color: #fff;
    background-color: transparent;
  }
  .button-ios-dark:active {
    color: #fff;
    background-color: transparent;
  }
  .form-bottom-text {
    display: inline-block;
    width: 100%;
    margin-top: 30px;
    color: $white;
    font-size: 16px;
    label {
      color: $white;
    }
    a {
      color: $white;
    }
  }
}
