<!--
  Generated template for the ModalPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>Add new group</ion-title>
    <ion-buttons end>
      <button ion-button (click)="closeModal()">Close</button>
    </ion-buttons>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <ion-card>
    <ion-card-content>
      <ion-list>
        <ion-item>
          <ion-label color="primary">Name</ion-label>
          <ion-input placeholder="Name" [(ngModel)]="group.name"></ion-input>
        </ion-item>

        <ion-item>
          <ion-label color="primary" fixed>Description</ion-label>
          <ion-input type="textarea" placeholder="Description" [(ngModel)]="group.description"></ion-input>
        </ion-item>
        <div class="button-container">
          <button ion-button full round outline color="dark" (click)="create()">Create</button>
        </div>
      </ion-list>
    </ion-card-content>
  </ion-card>
</ion-content>