<ion-header>

  <ion-navbar color="dark">
    <ion-title>Profile</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <div class="profile-image" (click)="editimage()">
    <img src="{{avatar}}">
  </div>
  <div>
    <h2 (click)="editname()">{{username}}</h2>
  </div>
  <div>
    Tip top on your pic or username to change it.
  </div>
  <div class="spacer" style="height: 10px;"></div>
  <div>
    <button ion-button round outline color="danger" (click)="logout()">Log out</button>
  </div>
</ion-content>
