page-group-chat {
  .toolbar {
    .toolbar-background {
      background-color: $blue;
    }
  }
  .user-icon {
    float: left;
    height: 40px;
    width: 40px;
    margin-right: 10px;
    img {
      height: 40px;
      width: 40px;
      @include border-radius(100%);
    }
  }
  .toolbar-title {
    float: left;
    padding-left: 0;
    text-align: left;
    p {
      margin-top: 0;
      margin-bottom: 0;
      font-size: 14px;
    }
  }
  .camera-btn {
    font-size: 3.2rem;
    font-size: 2.9rem;
    color: #7b7b7b;
  }
  .chat {
    width: 320px;
  }
  .item {
    .label {
      .bubble {
        position: relative;
        display: inline-block;
        margin: 5px 20px;
        padding: 10px 18px 10px;
        background-color: $blue-72;
        vertical-align: top;
        @include border-radius(5px);
        &::before {
          position: absolute;
          top: 0;
          display: block;
          height: 16px;
          width: 20px;
          z-index: -1;
          font-family: 'Fontawesome';
          content: '';
        }
        h3 {
          display: inline-block;
          width: auto;
          font-size: 16px;
        }
        .msg-time {
          float: right;
          position: relative;
          right: -10px;
          bottom: -10px;
          display: inline-block;
          padding-left: 5px;
          color: $black-41;
          font-size: 11px;
        }
      }
      .me {
        float: left;
        background-color: $grey-dc;
        @include box-shadow(0 0 6px $grey-dc);
        &::before {
          left: 0;
          margin-left: -6px;
          background-color: $grey-dc;
          @include box-shadow(-2px 2px 2px 0 rgba( 220, 220, 220, .4 ));
          @include transform(rotate( 54deg ),skew( -34deg ));
        }
      }
      .you {
        float: right;
        background-color: $blue-72;
        @include box-shadow(0 0 6px $blue-72);
        &::before {
          right: 0;
          margin-right: -5px;
          background-color: $blue-72;
          @include box-shadow(2px -2px 2px 0 rgba( 114, 203, 255, .4 ));
          @include transform(rotate( 3deg ),skew( -43deg ));
        }
      }
    }
  }

  .display-name {
    color: red;
    font-size: 10px;
  }

  .chatwindow {
    padding-bottom: 70px;
  }
  .bar-buttons {
    .sentbtn {
      font-size: 16px;
      .button-inner {
        .icon-md-wcolor {
          color: $blue;
        }
      }
    }
  }
  .footer {
    .toolbar {
      .toolbar-background {
        background-color: $grey-f8;
      }
    }
  }

}
